<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ex02.mapper.ItemMapper">
	
	<select id="getList" resultType="com.example.ex02.dto.ItemDto">
		<![CDATA[
            select 
            /*+ index_asc(item SYS_C007008) */
            ino, category, name, price, amount, discount, content, regDate
			from (
				select 
					/*+ index_asc(item SYS_C007008) */
					rownum rn, ino, category, name, price, amount, discount, content, regDate
					from item
					where 1 = 1
					and ino > 0
        ]]>
			        
			        <include refid="search"></include>
		        
		        	<![CDATA[
						and rownum <= #{pageNum} * #{amount}
		        	]]>
		        	
		        	
		<![CDATA[
				 )
			where 1 = 1
			and rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	
	<resultMap id="itemMap" type="com.example.ex02.dto.ItemDto" >
		<id property="ino" column="ino"/>
		<result property="name" column="name" />
		<result property="category" column="category" />
		<result property="price" column="price" />
		<result property="amount" column="amount" />
		<result property="discount" column="discount" />
		<result property="content" column="content" />
		<result property="regDate" column="regDate" />
		<collection property="attachList" column="attachList" ofType="com.example.ex02.dto.AttachDto" notNullColumn="attachId" >
			<id property="attachId" column="attachId" />
			<result property="ino" column="ino" />
			<result property="filePath" column="filePath" />
			<result property="fileName" column="fileName" />
			<result property="fileType" column="fileType" />
		</collection>
	</resultMap>
	
	<select id="list" resultMap="itemMap">
	    <![CDATA[
            select 
            	i.ino, 
            	i.category, 
            	i.name, 
            	i.price, 
            	i.amount, 
            	i.discount, 
            	i.content,
            	i.regDate,
            	a.attachId,
            	a.ino,
            	a.filePath,
            	a.fileName,
            	a.fileType
            from item i
            left outer join attach a
				on i.ino = a.ino
            where 1 = 1
        ]]>
    </select>
	
	<select id="get" resultType="com.example.ex02.dto.ItemDto">
	    <![CDATA[
            select ino, category, name, price, amount, discount, content
            from item
            where 1 = 1 
            and ino = #{ino}
        ]]>
    </select>
	
	<select id="getCount" resultType="int" >
	    <![CDATA[
            select count(*)
            from item
            where 1 = 1 
            and ino > 0
        ]]>
        
        <include refid="search"></include>
    </select>
    <select id="getAmountCount" resultType="int" >
	    <![CDATA[
            select amount
            from item
            where 1 = 1 
            and ino = #{ino}
        ]]>
    </select>
    
    <update id="update">
    	<![CDATA[
         	update item set
			name = #{name},
			price = #{price},
			category = #{category},
			amount = #{amount},
			discount = #{discount},
			content = #{content}
			where 1 = 1
			and ino = #{ino}
        ]]>
	</update>
	
	<update id="amountUpdate">
    	<![CDATA[
         	update item set
			amount = amount + #{amount}
			where 1 = 1
			and ino = #{ino}
        ]]>
	</update>

	<delete id="delete">
		<![CDATA[
			delete from item
			where 1 = 1
			and ino = #{ino}
		]]>
	</delete>
    
    <insert id="insert">
		<selectKey keyProperty="ino" order="BEFORE" resultType="Long">
			select nvl(max(ino), 0) + 1 from item
		</selectKey>
	
		<![CDATA[
			insert into item(ino, category, name, price, discount, content) 
			values(#{ino}, #{category}, #{name}, #{price}, #{discount}, #{content})
        ]]>
	</insert>
    
    
    <sql id="search">
    	<choose>
    		<when test='type.equals("all")'>
    			
    		</when>

    		<otherwise>
    			and category = #{type}
    		</otherwise>    		

    	</choose>
    </sql>
 
</mapper>