<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ex02.mapper.MemberMapper">

    <select id="findById" resultType="com.example.ex02.dto.MemberDto" >
	    <![CDATA[
            select *
            from member
            where id = #{id}
        ]]>
    </select>
    
    <select id="findByPassword" resultType="com.example.ex02.dto.MemberDto" >
	    <![CDATA[
            select *
            from member
            where password = #{password}
        ]]>
    </select>
	
	<insert id="insert">
		<![CDATA[
			insert into member(id, password) values(#{id}, #{password})
        ]]>
	</insert>
	
</mapper>